* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html body {
  font-family: "Myriad Pro", sans-serif;
  background: url(../img/background1.png) center center/cover no-repeat;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

.promo {
  padding: 49px 0 48px 0;
}

.container {
  max-width: 1064px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo img {
  width: 48px;
  height: 46px;
}
.header__logo :hover {
  color: #f26522;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
.header__text-up {
  padding: 0 0 0 15px;
  font-family: Verdana;
  font-size: 29px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header__text-down {
  padding: 0 0 0 15px;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  cursor: pointer;
}
.header__contacts :hover {
  color: #f26522;
}
.header__phone {
  margin-left: auto;
  color: #ffffff;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  cursor: pointer;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 58px;
}
.pictures__wrapper {
  width: 1064px;
  height: 541px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pictures__images {
  width: 311px;
  height: 204px;
  -webkit-box-shadow: 0 17px 24px #000000;
          box-shadow: 0 17px 24px #000000;
  border: 2px solid #fdfdfd;
  background-color: #ffffff;
}
.pictures__images:hover .pictures__overlay {
  visibility: visible;
}
.pictures__item {
  margin: 0 0 0 0;
  width: 308px;
  height: 200px;
  position: relative;
}
.pictures__item-center {
  width: 308px;
  height: 200px;
  position: relative;
}
.pictures__overlay {
  position: absolute;
  margin: 137px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
}
.pictures__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 307px;
  height: 63px;
  background: #f26522;
}
.pictures__descr {
  padding: 0 10px 0 0;
  color: #ffffff;
  font-family: Verdana;
  font-size: 10px;
  font-weight: 400;
}
.pictures__cost {
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
}
.pictures__link-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  padding: 0 0 0 15px;
}
.pictures__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}
.pictures__head {
  padding: 20px 15px 0 0;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.pictures__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 18px 0 0;
  width: 7px;
  height: 10px;
  opacity: 0.5;
}
.pictures__item-left {
  margin-right: auto;
  padding: 0 0 58px 0;
}
.pictures__item-right {
  margin-left: auto;
  padding: 0 0 58px 0;
}
.pictures__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  padding: 20px 76px 0px 76px;
  white-space: nowrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0 90px 0;
  height: 30px;
}
.footer__text {
  color: #ffffff;
  font-family: Verdana;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */