* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

html body {
  font-family: "Myriad Pro", sans-serif;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  min-height: 188px;
  padding: 61px 0 0 0;
}
.header__logo {
  width: 292px;
  height: 74px;
  font-family: "Myriad Pro" sans-serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
}
.header__logo span {
  font-style: normal;
  color: #4bcaff;
}
.header__menu {
  max-width: 1280px;
  margin: 45px 0 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 69px;
  background-color: #35444f;
}
.header__menu li a {
  padding: 20px 42px;
  height: 22px;
  color: #ffffff;
  font-family: "Myriad Pro" sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.header__menu li a:hover {
  background: #222f3a;
  border-left: 1px solid #828282;
  border-right: 1px solid #828282;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__block {
  margin: 0 0 0 52px;
}
.content__container {
  width: 882px;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
}
.content__images {
  width: 320px;
  height: 381px;
}
.content__text {
  color: #2c2c2c;
  font-family: "Myriad Pro" sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.content__text-first {
  margin: 50px 40px 30px 30px;
  text-align: justify;
}
.content__text-second {
  margin: 30px 40px 30px 30px;
  text-align: justify;
}

.aside__left {
  width: 346px;
  height: auto;
  border: 1px solid #29424e;
}
.aside__left li {
  padding: 26px 44px;
}
.aside__left li a {
  width: 100px;
  height: 19px;
  color: #485863;
  font-family: "Myriad Pro" sans-serif;
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 80px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.aside__left li:hover {
  background: #dbdbdb;
  cursor: pointer;
  padding: 26px 69px;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 0 0 0;
}
.footer__item {
  width: 1280px;
}
.footer__menu {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  min-height: 69px;
  background-color: rgba(99, 105, 110, 0.48);
}
.footer__menu li {
  padding: 0 20px;
}
.footer__menu li a {
  color: #0c1927;
  font-family: "Myriad Pro" sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.footer__menu li a:hover {
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
}
.footer__icons {
  margin-left: auto;
}
.footer__icons h1 {
  font-family: "Myriad Pro" sans-serif;
  font-size: 24px;
  color: #010101;
}/*# sourceMappingURL=style.css.map */